<!DOCTYPE html>
<html>

    <head>
        <title>Dash</title>
        <link rel="icon" type="image/icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/jquery.gridster.min.css" />
        <%- css('style') %>
        <%- css('font-awesome') %>
    </head>

    <body>

        <a href="/edit">
            <div class="folded-corner"></div>
        </a>

        <div class="gridster">
            <ul id="dashboard">
            </ul>
        </div>

        <script type="text/javascript" src="/javascripts/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.gridster.min.js"></script>
        <script type="text/javascript" src="/javascripts/ICanHaz.min.js"></script>
        <script type="text/javascript" src="/javascripts/spin.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.spin.js"></script>
        <script type="text/javascript" src="/javascripts/protovis.min.js"></script>
        <script type="text/javascript" src="/javascripts/eve-0.3.5.js"></script>

        <%- js('dashboard') %>

        <script>
            $(document).ready(function() {
                var dashboard = Dash.Dashboard()
                dashboard.getWidgets('<%= uri %>');
            });
        </script>

        <script id="griditem" type="text/html">
                <li class="widget" data-row="{{position.row}}" data-col="{{position.col}}" data-sizex="{{size.width}}" data-sizey="{{size.height}}">
                </li>
            </ul>
        </script>

        <script id="widget_not_supported" type="text/html">
            <div class="widget unsupported" data-sizey="{{size.height}}">
                <span class="type">{{type}}</span>
                <div class="content">Not supported</div>
            </div>
        </script>

        <script id="widget_no_response" type="text/html">
            <div class="widget unsupported" data-sizey="{{size.height}}">
                <span class="type">{{type}}</span>
                <div class="content">No response</div>
            </div>
        </script>

        <script id="ping" type="text/html">
            <div class="widget" data-sizey="{{size.height}}">
                <div class="content">
                    <div class="title">{{value}}</div>
                    <div class="icon-{{icon}}"></div>
                </div>
            </div>
        </script>

        <script id="countdown" type="text/html">
            <div class="widget" data-sizey="{{size.height}}">
                <span class="type">Countdown</span>
                <div class="content">
                    <span class="number">{{days}}</span>
                    <span class="days">days <br />left</span>
                    <div class="subtext">{{options.title}}</div>
                </div>
            </div>
        </script>

        <script id="hudson_build_status" type="text/html">
            <div class="widget status-{{status}}" data-sizey="{{size.height}}">
                <span class="type">Hudson</span>
                <div class="content">
                    <div class="title">{{options.title}}</div>
                    <div class="build">#{{build}}</div>
                </div>
            </div>
        </script>

        <script id="teamcity_build_status" type="text/html">
            <div class="widget status-{{status}}" data-sizey="{{size.height}}">
                <span class="type">Team city</span>
                <div class="content">
                    <div class="title">{{options.title}}</div>
                    <div class="build">#{{build}}</div>
                </div>
            </div>
        </script>

        <script id="sonar_code_coverage" type="text/html">
            <div class="widget" data-sizey="{{size.height}}">
                <span class="type">Sonar code coverage</span>
                <div class="content">
                    <div class="column">
                        <div class="title">{{options.title}}</div>
                        <div class="subtext">Code coverage</div>
                    </div>
                    <div class="column">
                        <div class="value">{{value}}%</div>
                        <div class="chart" id="{{chartId}}"></div>
                    </div>
                </div>
            </div>
        </script>

        <script id="jira_issues" type="text/html">
            <div class="widget status-{{status}}" data-sizey="{{size.height}}">
                <span class="type">Jira issues</span>
                <div class="content">
                    <div class="title">{{options.title}}</div>
                    <div class="issues">
                        <div>{{blockers}} blocker</div>
                        <div>{{critical}} critical</div>
                    </div>
                    <span class="icon-remove-circle"></span>
                </div>
            </div>
        </script>

        <script id="jira_burnup" type="text/html">
            <div class="widget" data-sizey="{{size.height}}">
                <span class="type">Jira burn-up</span>
                <div class="content">
                    <div class="title">{{options.title}}</div>
                    <div class="subtext">{{totalPoints}} pts</div>
                    <div class="chart" id="{{chartId}}"></div>
                </div>
            </div>
        </script>

        <script id="twitter_hashtag" type="text/html">
            <div class="widget" data-sizey="{{size.height}}">
                <span class="type">Twitter</span>
                <div class="content">
                    <span class="tweet">{{tweet}}</span>
                    <span class="icon-twitter"></span>
                </div>
            </div>
        </script>

    </body>

</html>
