
.widget {

    .status-pass {
        background-color: rgba(50, 200, 50, 0.5);
    }

    .status-fail {
        background-color: rgba(230, 10, 10, 0.9);
    }

    .unsupported {
        background-color: gray;
        background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255,255,255,.5) 15px, rgba(255,255,255,.5) 30px);
    }

    .title {
        font-size: 1.5em;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .type {
        position: absolute;
        right: 5px;
        bottom: 5px;
        font-size: 0.6em;
        color: rgba(40,40,40,0.7);
    }

    .content {
        padding: 10px;
    }

    .column {
        float: left;
        width: 120px;
        margin: 0 20px;
    }

    .column:first-child {
        margin-left: 0;
    }
        
    .column:last-child {
        margin-right: 0;
    }
    
    .ping .icon-ok {
        color: green;
        font-size: 3.5em;
        text-align: center;
        width: 100%;
    }

    .hudson_build_status .build {
        font-size: 1.5em;
    }

    .teamcity_build_status .build {
        font-size: 1.5em;
    }
    
    .sonar_code_coverage .subtext {
        margin-top: 0.5em;
    }

    .sonar_code_coverage .value {
        font-size: 1.8em;
    }

    .countdown .number {
        float: left;
        font-size: 3.2em;
        margin-right: 0.2em;
        font-weight: bold;
    }

    .countdown .days {
        float: left;
        margin-top: 0.5em;
        font-size: 1.1em;
    }

    .countdown .subtext {
        clear: both;
    }

}
