<!DOCTYPE html>
<html>

    <head>
        <title>Dash</title>
        <link rel="stylesheet" href="/stylesheets/jquery.gridster.min.css" />
        <%- css('style') %>
        <%- css('font-awesome') %>
    </head>

    <body>
        
        <div class="gridster">
            <ul id="dashboard">
            </ul>
        </div>
        
        <script type="text/javascript" src="/javascripts/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.gridster.min.js"></script>
        <script type="text/javascript" src="/javascripts/ICanHaz.min.js"></script>
        <script type="text/javascript" src="/javascripts/spin.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.spin.js"></script>
        
        <%- js('dashboard') %>
        
        <script>
                
            $(document).ready(function() {
                var dashboard = Dash.Dashboard()
                dashboard.getWidgets('<%= uri %>');
            });

        </script>
        
        <script id="griditem" type="text/html">
                <li data-row="{{position.row}}" data-col="{{position.col}}" data-sizex="{{size.width}}" data-sizey="{{size.height}}">
                </li>
            </ul>
        </script>
        
        <script id="widget_not_supported" type="text/html">
            <div class="widget unsupported" data-sizey="{{size.height}}">
                <span class="type">{{type}}</span>
                <div class="content">Not supported</div>
            </div>
        </script>

        <script id="widget_no_response" type="text/html">
            <div class="widget unsupported" data-sizey="{{size.height}}">
                <span class="type">{{type}}</span>
                <div class="content">No response</div>
            </div>
        </script>
        
        <script id="widget_ping" type="text/html">
            <div class="widget status-{{status}}" data-sizey="{{size.height}}">
                <span class="type">Ping</span>
                <div class="content">
                    <div class="title">{{options.title}}</div>
                    <div class="icon-ok"></div>
                </div>
            </div>
        </script>

        <script id="widget_hudson_build_status" type="text/html">
            <div class="widget status-{{status}}" data-sizey="{{size.height}}">
                <span class="type">Hudson</span>
                <div class="content">
                    <div class="title">{{options.title}}</div>
                    <div class="build">#{{build}}</div>
                </div>
            </div>
        </script>

        <script id="widget_countdown" type="text/html">
            <div class="widget" data-sizey="{{size.height}}">
                <span class="type">Countdown</span>
                <div class="content">
                    <span class="number">{{days}}</span>
                    <span class="days">days <br />left</span>
                    <div class="subtext">{{options.title}}</div>
                </div>
            </div>
        </script>
        
    </body>

</html>
