<!DOCTYPE html>
<html>

    <head>
        <title>Dash</title>
        <link rel="stylesheet" href="/stylesheets/jquery.gridster.min.css" />
        <%- css('style') %>
    </head>

    <body>
        
        <div class="gridster">
            <ul id="dashboard">
            </ul>
        </div>
        
        <script type="text/javascript" src="/javascripts/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.gridster.min.js"></script>
        <script type="text/javascript" src="/javascripts/ICanHaz.min.js"></script>
        
        <%- js('dashboard') %>
        
        <script>
                
            $(document).ready(function() {
                var dashboard = Dash.Dashboard()
                dashboard.getWidgets('<%= uri %>');
            });

        </script>
        
        <script id="widgetTemplate" type="text/html">
                <li data-row="{{position.row}}" data-col="{{position.col}}" data-sizex="{{size.width}}" data-sizey="{{size.height}}">
                    {{type}}
                </li>
            </ul>
        </script>
        
    </body>

</html>
