<!DOCTYPE html>
<html>

    <head>
        <title>Dash</title>
        <link rel="stylesheet" href="/stylesheets/jquery.gridster.min.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>

    <body>
        
        <div class="gridster">
        </div>
        
        <script type="text/javascript" src="/javascripts/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery.gridster.min.js"></script>
        <script type="text/javascript" src="/javascripts/ICanHaz.min.js"></script>
        
        <script>
        
            $(document).ready(function() {
                
                $.ajax('/widgets', {
                    dataType: 'json',
                    success: function(data) {
                        createGrid(data);
                    }
                });
                
                function createGrid(widgets) {
                    $('.gridster ul').remove();
                    $('.gridster').append(ich.widgetTemplate({
                        widgets: widgets
                    }));
                    $(".gridster ul").gridster({
                        widget_margins: [10, 10],
                        widget_base_dimensions: [140, 140]
                    });                    
                }
                
            });

        </script>
        
        <script id="widgetTemplate" type="text/html">
            <ul id="dashboard">
                {{#widgets}}
                    <li data-row="{{position.row}}" data-col="{{position.col}}" data-sizex="{{size.width}}" data-sizey="{{size.height}}">
                    </li>
                {{/widgets}}
            </ul>
        </script>
        
    </body>

</html>
